
:root {
  --er-c-brand-1: var(--er-color-primary);
  --er-c-brand-3: var(--er-color-primary);
  --er-c-brand-light: var(--er-color-primary-light-3);
  --er-c-brand-lighter: var(--er-color-primary-light-5);
  --er-c-brand-dark: var(--er-color-primary-dark-2);
  --er-c-brand-darder: #265f99;

  --component-preview-bg: var(--vp-code-block-bg);
  --component-preview-soft: var(--vp-code-block-bg-light);
}

body {
  color: var(--vp-c-text-1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--vp-c-text-1);
}
